.no-layout {
  background-image: url("../images/header-pattern.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color__light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
  header {
    min-height: auto;
  }
  .brand {
    margin-bottom: 24px;
    display: block;
    img {
      width: 104px;
    }
  }
  .intro {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    max-width: 555px;
    margin: 0 auto 40px;
  }
  .form {
    max-width: 360px;
    box-shadow: 0px 8px 16px rgba(9, 30, 66, 0.05),
      0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 3px;
    background-color: $color__lighter;
    margin: auto;
    padding: 32px 24px;
    text-align: left;
    .btn {
      margin-bottom: 16px;
      width: 100%;
    }
    .row {
      margin-right: -4px;
      margin-left: -4px;
      > div {
        padding-right: 4px;
        padding-left: 4px;
      }
    }
    .note {
      opacity: 0.6;
      font-size: 11px;
      line-height: 16px;
    }
  }

  .form-wizard {
    max-width: 554px;
  }
  footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
}
