$font_regular: "QuincyCF-Regular", sans-serif;
$font_thin: "QuincyCF-Thin", sans-serif;
$font_light: "QuincyCF-Light", sans-serif;
$font_bold: "QuincyCF-Bold", sans-serif;
$font_black: "QuincyCF-Black", sans-serif;
