.multi-select,
.custom-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dfe1e5;
  border-radius: 0;

  &:hover,
  &:focus {
    box-shadow: unset;
    outline: none;
    border-bottom-color: $color__dark;
  }
}

.select2-container {
  display: block;
}

.select2-container--default {
  .select2-selection--multiple,
  .select2-selection--single {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dfe1e5;
    border-radius: 0;
    &:focus {
      box-shadow: unset;
      outline: none;
    }
    .select2-selection__arrow {
      b {
        border: none;
        background-image: url("../images/icons/chevron.svg");
        background-repeat: no-repeat;
        background-size: 11px 13px;
        width: 21px;
        height: 21px;
        top: 0;
        background-position: bottom;
        left: 0;
      }
    }
  }
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: none;
  border-bottom: 1px solid $color__dark;
}

.select2-dropdown {
  border: none;
  border-radius: 0;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: $color__light;
  color: $color__dark;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  &:focus {
    border-color: $color__dark;
    box-shadow: unset;
    outline: unset;
  }
}
